extends ../layout

block content
    h1.
         #{title}
    ul
        - each group, i in groups
            li
                = group.name
                = ";\t owner: "
                = group.owner
                = ";\t users: "
                if (group.users && group.users.length > 0)
                    = group.users
                else
                    = "<None>"
                form(action='/groups/#{group.id}',method='get',enctype='application/x-www-form-urlencoded')
                    button(type='submit').
                        Show
                if (user && user.email == group.owner)
                    form(action='/groups/#{group.id}/edit',method='get',enctype='application/x-www-form-urlencoded')
                        button(type='submit').
                            Edit
                    form(action='/groups/#{group.id}',method='post',enctype='application/x-www-form-urlencoded')
                        input(type='hidden',value='DELETE',name='_method')
                        button(type='submit').
                            Delete
                p
    form(action='/groups/new',method='get',enctype='application/x-www-form-urlencoded')
                    button(type='submit').
                        Add a new group
    p.
    a(href='/')
        button.btn.btn-primary(type="button") Main page