extends ../layout

block content
  if (user)
    h1.
        #{title}
    p.
      - The group is created in your ownership, you can reassign it later.
    p - Group name needs not be globally unique, but must be unique for a given user.
    p - You can specify users in the "Users:" field using comma-separeted emails
    p   The users will be invited to the study groups and will have to accept the invitation
    p   You can also leave "Users" blank, and send invitations later
    form#formAddGroup(name="addgroup",method="post",action="/groups")
        p Group name: 
            input#inputName(type="text", placeholder="ex. grade 2", name="name")
        p Owner: #{user.email}
        p Users:
          // This should be a selection from users
          input#inputUsers(type="text", name="Users")
        p
            button#btnSubmit(type="submit") submit
  else
    p You must be logged in to create a group
    a(href='/')
      button.btn.btn-primary(type="button") Login