extends ../layout

block content
    h1.
         #{title}
    ul
        - each user, i in users
            li
                = user.name
                = ";\t email: "
                = user.email
                form(action='/users/#{user._id}',method='get',enctype='application/x-www-form-urlencoded')
                    button(type='submit').
                        Show
                form(action='/users/#{user._id}/edit',method='get',enctype='application/x-www-form-urlencoded')
                    button(type='submit').
                        Edit
                form(action='/users/#{user._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
    form(action='/users/new',method='get',enctype='application/x-www-form-urlencoded')
                    button(type='submit').
                        Add a new user