extends ../layout

block content
    h1.
         #{title}
    ul
        - each u, i in users
            li
                = u.email
                if (u.name)
                    = ";\t name: "
                    = u.name
                form(action='/users/#{u._id}',method='get',enctype='application/x-www-form-urlencoded')
                    button(type='submit').
                        Show
                if (user && user.email == u.email)
                    form(action='/users/#{u._id}/edit',method='get',enctype='application/x-www-form-urlencoded')
                        button(type='submit').
                            Edit
                    form(action='/users/#{u._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                        input(type='hidden',value='DELETE',name='_method')
                        button(type='submit').
                            Delete
    form(action='/users/new',method='get',enctype='application/x-www-form-urlencoded')
                    button(type='submit').
                        Add a new user
    form(action='/',method='get',enctype='application/x-www-form-urlencoded')
        button(type='submit').
            Back to main