extends ../layout

block content
    h1.
        #{title}
    form#formAddUser(name="adduser",method="post",action="/users")
        p User name: 
            input#inputName(type="text", placeholder="ex. Michal", name="name")
        p Email:
          input#inputEmail(type="text", placeholder="ex. donkey@farm.com", name="email")   
        p
            button#btnSubmit(type="submit") submit